* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-decoration: none;
}

header {
  height: 139px;
  background-color: #3e5dd4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

.logo img {
  height: 120px;
}

.areaH1 {
  display: flex;
  justify-content: center;
  flex: 1;
}

header h1 {
  font-size: 70px;
  color: black;
  margin-left: 70px;
}

.areaAdmin {
  background-color: #2ca44f;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  border-radius: 16px;
}

.areaAdmin img {
  height: 50px;
}

.areaAdmin p {
  color: white;
  font-size: 20px;
  margin: 0;
}

/*Main*/
main {
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adicionar-container {
  margin-top: 80px; 
  margin-bottom: 80px; 
}

#adicionar-container a,
#btn-adicionar {
  background-color: #2ca44f;
  color: white;
  border: none;
  display: inline-block;
  width: 1284px; 
  height: 100px; 
  text-align: center; 
  line-height: 100px; 
  font-size: 40px; 
  border-radius: 10px;
}

.grid-camisas {
  width: 1284px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 30px; 
  justify-items: center;
}

.produto {
  background-color: #f1f1f1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 408px; 
  height: 819px;
  overflow: hidden;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.25);
}

.produto-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  left: 0;
  padding: 10px 15px; 
  box-sizing: border-box;
}

.avaliacao {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 26px; 
  font-weight: 600;
  color: black;
}

.avaliacao img {
  width: 48px; 
  height: 48px;
}

.acoes img {
  width: 48px; 
  height: 48px;
  margin-left: 6px;
  cursor: pointer;
}

.imagem-produto {
  width: 100%;
  height: auto;
  object-fit: cover;
  flex-grow: 1;
}

.descricao {
  background-color: #224cc3;
  color: white;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-sizing: border-box;
  height: 231px;
}

.descricao h4 {
  font-size: 30px;
  color: #2ca44f;
  text-align: left;
  margin: 0;
}

.descricao p {
  font-size: 20px;
  text-align: left;
  margin: 0;
  color: white;
}

.descricao .preco {
  font-size: 36px;
  font-weight: bold;
  color: #2ca44f;
  text-align: right;
}

.paginacao {
    margin-top: 50px;
    margin-bottom: 68px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.paginacao button {
    background: none;
    border: none;
    font-size: 40px;
    color: #2ca44f; 
    cursor: pointer;
    padding: 0; 
    line-height: 1; 
}

.bolinhas {
    display: flex;
    gap: 10px;
}

.bolinhas span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    background-color: #c4c4c4; 
    color: #fff; 
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
}

.bolinhas .ativo {
    background-color: #2ca44f; 
    color: #fff;
}


/*Footer*/
footer {
  width: 100%;
  margin-top: auto;
}

.footerEndereçoContato {
  background-color: rgba(252, 247, 248, 1);
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
  height: 176px;
  box-sizing: border-box;
}

.footerEndereçoContato h4 {
  color: rgba(78, 128, 152, 1);
  margin-bottom: 10px;
}

.footerEndereçoContato p {
  color: rgba(39, 69, 83, 1);
}

.endereco {
  max-width: 40%;
}

.endereco p {
  line-height: 1.6;
}

.contato {
  max-width: 40%;
  margin-top: 20px;
}

.icones img {
  width: 18px;
  margin-right: 10px;
  margin-top: 10px;
  vertical-align: middle;
}

.footerCopyright {
  background-color: rgba(65, 95, 206, 1);
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-align: center;
}
